groups:
- name: lab4_alerts
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 30s
    labels:
      severity: critical
    annotations:
      summary: "Instance {{ $labels.instance }} down"
      description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 1 minute."

  - alert: HighLatency
    expr: rate(coordinator_request_latency_seconds_sum[30s]) / rate(coordinator_request_latency_seconds_count[30s]) > 0.5
    for: 30s
    labels:
      severity: warning
    annotations:
      summary: "High request latency on {{ $labels.instance }}"
      description: "p50 latency is > 0.5s (current value: {{ $value }}s)"
