global:
  scrape_interval: 5s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

scrape_configs:
  - job_name: "coordinator"
    static_configs:
      - targets: ["coordinator:8000"]

  - job_name: "shards"
    static_configs:
      - targets: ["shard-1:50052", "shard-2:50052", "shard-3:50052"]
